<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .container-fluid{
        width: 100%;
        height: 100vh;

        & .dasboad{
            width: 20%;
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
            border: 1px solid gray;
        }

        & .food-table{
            width: 80%;
            height: 100%;
        }
    }
</style>
<body>
    <div class="container-fluid p-0 d-flex flex-row">
        <div class="dasboad border-top-0 border-bottom-0 border-start-0">
            <h2 class="text-center">hey</h2>
        </div>
        <section class="food-table w-100 bg-info">
            <div class="menu bg-warning">

            </div>
        </section>
    </div>
</body>
</html>